<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Nabp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased dark:bg-gray-900 dark:text-white">
    <sidebar class="border-r border-gray-50/[0.06] h-full fixed w-16">
      <div class="py-4 flex flex-col items-center justify-start h-full">
        <ul class="flex flex-col h-full">
          <li class=""><.link navigate="/bases" class="group hover:bg-gray-800"><Heroicons.home class="w-7 h-7 stroke-current group-hover:opacity-70"/></.link></li>
          <%= if @current_user do %>
            <li class="mt-auto"><.link href={~p"/users/settings"}><Heroicons.cog_6_tooth class="w-7 h-7"/></.link></li>
            <li><.link href={~p"/users/log_out"} method="delete"><Heroicons.arrow_left_on_rectangle class="w-7 h-7"/></.link></li>
          <% else %>
            <li class="mt-auto"><.link href={~p"/users/log_in"}><Heroicons.arrow_right_on_rectangle class="w-7 h-7"/></.link></li>
          <% end %>
        </ul>
      </div>
    </sidebar>
    <%= @inner_content %>
  </body>
</html>
